In [ ]:
import pandas as pd
import sqlite3 as sql
import numpy as np
import os

# Scrapping Data from Github OWID Datasets

In [ ]:
import bs4
import requests

In [ ]:
url = "https://github.com/owid/owid-datasets/tree/master/datasets"

webpage = requests.get(url).text

In [ ]:
soup = bs4.BeautifulSoup(webpage)

In [ ]:
results = soup.find_all('a', {'class':'js-navigation-open Link--primary'})

links =[]
titles = []
for result in results:
  rel_short_link = result['href'].split('/')[-1]
  data_url = 'https://raw.githubusercontent.com/owid/owid-datasets/master/datasets/' + rel_short_link+ '/'+rel_short_link+'.csv'
  
  titles.append("_".join(result['title'].split(" ")))
  links.append(data_url) 
# class="js-navigation-open Link--primary"

In [ ]:
df = pd.read_csv(links[-1])

In [ ]:
titles[:5]

['_Literacy_by_years_of_schooling_US_1947_â€“_OECD_(2014)_',
 '_Literate_world_population_(OurWorldInData_based_on_OECD_and_UNESCO)',
 '20th_century_deaths_in_US_-_CDC',
 'A_Century_of_Work_and_Leisure_-_Ramey_and_Francis_(2009)',
 'Abortion_rates_(per_1000_women)_-_Sedgh_et_al._(2016)']

# Using SQL and Unit testing

In [ ]:
import sqlite3
from sqlite3 import Error

In [ ]:
conn.close()

In [ ]:
conn = sqlite3.connect("OWID.db")
for title, link in zip(titles, links):
  df = pd.read_csv(link)
  df.to_sql(title, conn, index=False)
  print(title)
conn.close()

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [ ]:
conn = sqlite3.connect("OWID.db")
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

In [ ]:
len(tables)

993

In [ ]:
pd.read_sql( 'SELECT * FROM "%s" '  % (tables[-1][0]), conn)

           Entity  Year  Youth mortality rates (0-14)
0     Afghanistan  1977                     297.48592
1     Afghanistan  1978                     289.08271
2     Afghanistan  1979                     280.57551
3     Afghanistan  1980                     272.02735
4     Afghanistan  1981                     263.45558
...           ...   ...                           ...
8300     Zimbabwe  2013                      80.98464
8301     Zimbabwe  2014                      75.18350
8302     Zimbabwe  2015                      70.86210
8303     Zimbabwe  2016                      66.93248
8304     Zimbabwe  2017                      63.69077

[8305 rows x 3 columns]

In [ ]:
pd.read_sql( "SELECT * FROM %s"  % ('"' +tables[2][0] + '"'), conn)

           Entity  ...  Communicable, infectious, neonatal and other deaths - % of Deaths
0   United States  ...                                              77.86
1   United States  ...                                              75.81
2   United States  ...                                              74.93
3   United States  ...                                              73.87
4   United States  ...                                              73.83
..            ...  ...                                                ...
89  United States  ...                                              33.06
90  United States  ...                                              33.26
91  United States  ...                                              33.21
92  United States  ...                                              33.41
93  United States  ...                                              33.94

[94 rows x 84 columns]

In [ ]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)

    return conn

In [ ]:
def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

In [ ]:
def main():
    database = r"test.db"

    sql_create_projects_table = """ CREATE TABLE IF NOT EXISTS projects (
                                        id integer PRIMARY KEY,
                                        name text NOT NULL,
                                        begin_date text,
                                        end_date text
                                    ); """

    sql_create_tasks_table = """CREATE TABLE IF NOT EXISTS tasks (
                                    id integer PRIMARY KEY,
                                    name text NOT NULL,
                                    priority integer,
                                    status_id integer NOT NULL,
                                    project_id integer NOT NULL,
                                    begin_date text NOT NULL,
                                    end_date text NOT NULL,
                                    FOREIGN KEY (project_id) REFERENCES projects (id)
                                );"""

    # create a database connection
    conn = create_connection(database)

    # create tables
    if conn is not None:
        # create projects table
        create_table(conn, sql_create_projects_table)

        # create tasks table
        create_table(conn, sql_create_tasks_table)
    else:
        print("Error! cannot create the database connection.")